.portfolio {
    display: flex;
}

.dash-graph {
    margin-left: 20%;
    outline: 1px solid darkgreen;
    padding: 10px;
    padding-bottom: 250px;
    padding-right: 550px;
}

.dash-cash {
    margin-top: 4px;
}

.dash-holdings {
    margin-top: 5px;
    margin-left: 5%;
    width: 240px;
    outline: 1px solid blue;
    padding: 10px;
    padding-bottom: 100px
}

.dash-news {
    /* margin-top: 5%;
    margin-left: 20%;
    outline: 1px solid orangered;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px; */
}

.dashboard > h1 {
    padding-left: 12%;
}

.dashboard > h5 {
    padding-left: 12%;
}

.dash-stocks > * {
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: inherit;

}

.stock-link {
   text-decoration: none;
    color: black;
}

.dash-stocks > *:hover {
    background-color:lightgray;
}

.flex {
    display: flex;
}

.flex > p {
    /* transform: translate(40px, 7px) */
    padding-left: 5%
}

.dash-numshares{
    margin-top: -15px;
}

.indiv-stock {
    border: 1px solid black;
    padding-left: 20px;
}
.indiv-stock > *{
    font-size: 16px;
}

.graph-img {
    width: 80%;
    margin-left: 17%;
}