.dashboard{
   background-color: #1b1b1d;
}

.portfolio {
    display: flex;
    color: white;
    background-color: #1b1b1d;
}

.dash-holdings {
    position: fixed;
    margin-top: -80px;
    right: 17%;
    width: 240px;
    border: 1px solid slategray;
    box-shadow: 0 0 8px black;
    border-color: black;
    border-radius: 3px;
    /* background: snow; */
    color: white;
    background-color: #1b1b1d;
}

.dash-holdings > h3 {
    margin-left: 14px;
    margin-top: 2px;
    color: white;
}

.cash-header {
    margin-left: 14px;
    margin-bottom: 5px;
    color: white;
}

.stock-header{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 14px;
    color: white;
}

.dash-stocks{
    margin-top: -15px;
    background-color: #323232;
    color:#1b1b1d
}

.dashboard > h1 {
    padding-left: 12%;
    color: white;
    background-color: #1b1b1d;
    margin-top: 0px;
    padding-top: 25px;
}

.dashboard > h5 {
    padding-left: 12%;
    margin-top: -7px;
    color: white;
    background-color: #1b1b1d;
}

.dash-stocks > * {
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    width: inherit;
    background-color: #1b1b1d;
    color: white;
}

.stock-link {
   text-decoration: none;
    color: white;
    background-color: #1b1b1d;
}

.dash-stocks > *:hover {
    background-color: rgb(12, 12, 12);
    color: white;
}

.flex {
    display: flex;
}

.flex > p {
    /* transform: translate(40px, 7px) */
    padding-left: 5%
}

.dash-numshares{
    margin-top: -15px;
}

.dash-price{
    margin-left: auto;
    margin-right: 20px;
    margin-top: 18px;
}

.indiv-stock {
    padding-left: 20px;
    margin: 0;
}
.indiv-stock > *{
    font-size: 16px;
}

.port-left {
    width: 70%;
}

.graph-img {
    width: 70%;
    margin-left: 17%;
}

.news-header{
    margin-left: 17%;
    margin-top: 4%;
    color: white;
}

.news-div{
    margin-left: 17%;
    /* margin-bottom: 2%; */
    width: 60%;
    display: flex;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid gray; */
    color: white;
}

.news-div:hover{
    background-color: rgb(12, 12, 12);
    color: white;
}
.news-img-holder{
    text-align: right;
    width: 300px;
    margin-left: auto;
    margin-right: 10px;
    color: white;
}

.news-img {
    width: 250px;
    max-height: 150px;
    padding: 10px;
    border-radius: 25%;
    float: right
}

.news-title {
    text-decoration: none;
    margin-top: 7%;
    margin-left: 3%;
    font-size: 16px;
    color: white;
}

.news-link {
    text-decoration: none;
}

.news-desc {
    font-size: 14px;
    color: white;
    margin-left: 3%;
}

.dash-graph-holder{
    margin-left: 17%;
}