.greet-yes {
    background-color:#21CE99;
    display: flex;
}

.greet-name {
    background-color: black;
    color: white;
}


.greet-logout {
    background-color: black;
    font-size: 20px;
    margin-left: 70%;

}

.logout-link {
    text-decoration: none;
    color: white
}

