.greet-yes {
    display: flex;

}

.search-bar {
    background-color: white;
    color:black;
    margin-left: 10%;
}


.greet-logout {
    background-color: white;
    color: black;
    font-size: 15px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.logout-link {
    text-decoration: none;
    color: black;
}

.dash-button {
    background-color: white;
    color: black;
    font-size: 15px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.dash-link {
    text-decoration: none;
    color: black;
}