.home-header {
    display: flex;
    flex-wrap: wrap;
}

.home-header > h1 {
    margin-left: 10vw;
    margin-top: 10px;
    padding-left: 10px;
}

#head-1 {
    transform: translateY(15%);
}

#home-link {
    color:black;
    text-decoration: none;
    // background-color: #21CE99;
    border-radius: 10px;
    padding: 5px;
}

.feather-img {
    max-height: 70px;
    transform: translateY(0%);
}

.feather-img:hover {
    background-color: whitesmoke;
}

.header-session {
    display: flex;
    min-width: 200px;
    margin-left: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    transform: translateY(-10%);
}

#sign-in-home {
    font-size: 18px;
    color: black;
    margin-right: 45px;
    text-decoration: none;
}

#sign-in-home:hover {
    color: darkslategray
}

#signup-home {
    transform: translateY(40%);
    font-size: 18px;
    color: black;
    text-align: right;
    text-decoration: none;
    background-color: #21CE99;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

#signup-home:hover {
    color: white;
    background-color:darkslategray;
}

.home-temp-img {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    max-width: 600px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-first-img {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 600px;
    height: 510px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    margin: 2vw 5% 1vw 5%;
}

.home-img {
    display: flex;
    background-color: #21CE99;
    box-shadow:  inset 0 0 3px #000000;
}

.home-left-text {
    padding-left: 15%;
    padding-top: 5vw;
    max-width: 35vw;
    margin-bottom: 5%;
}

.home-left-text > h1 {
    font-size: 3em;
}

.home-left-text > h3 {
    font-size: 2em;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.body-sign-up {
    margin-top: 20px;
    background-color: darkslategrey;
    border: 1px solid black;
    color: white;
    width: 160px;
    height: 50px;
    font-size: 15px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-sign-up:hover {
    background-color: black;
    cursor: pointer;
}

#body-sign-up-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.break-free {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
}

.break-free > h2 {
    font-size: 2em;
}



.disclosure-button {
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: darkslategray;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
}

.disclosure-button:hover{
    color: rgb(39, 72, 42);
    cursor: pointer;
}

.modal-disclosure{
    position: absolute;
    width: 600px;
    height: 270px;
    top: 30%;
    left: 50%;
    margin-left: -300px;
    margin-top: -125px;
    border-radius: 2px;
    z-index: 10;
    background-color: white;
    max-width: 65%;
    transition: 500ms ease-in-out;
}

.modal-title{
    padding-left: 75px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.close-modal{
    cursor: pointer;
    border: none;
    margin-left: 500px;
    padding-top: 30px;
    font-size: 1.7rem;
    font-weight: bold;
}

.modal-body > p{
    text-align: left;
    margin-top: 22px;
    padding-left: 75px;
    padding-right: 70px;
    font-size: 0.9rem;
    font-style: italic;
}

.global-section {
    box-shadow:  inset 0 0 3px #000000;
    background-color: black;
}

.global-companies > * {
    width: 27%;
    color: white;
    padding-left: 4.2%;
    font-size: 0.9rem;
}

.global-companies {
    display: flex;
    padding-top: 20px; 
    padding-bottom: 40px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2%;
}

.global-title > * {
    font-size: 40px;
    text-align: center;
    color: white;
    margin: auto;
}

.global-title {
    padding-top: 50px;
    line-height: 50px;
}

.marquee {
  background-color: white;
  background-image: url(https://web.archive.org/web/20200302085638if_/https://cdn.robinhood.com/assets/robinhood/brand_uk_2/ac5925bd9898526358ad0a45791d1de6-3x.png);
  background-size: 1900px;
  width: 100%;
  height: 100px;
  animation: marquee 50s infinite linear;
  margin: auto;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 1890px;
  }

  100% {
    background-position: 0px;
  }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

#foot-1{
    margin-left: 25px;
    max-width: 85px;
}

#foot-2{
    max-width: 70px;
    transform: translateY(-6px);
    border-radius: 5px;
    background-color: white;
    padding: 2px;
    filter: invert(100%);
}


.iphone-holder {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    pointer-events: none;
}

.iphone-empty {
    object-fit: contain;
    user-select: none;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.video-cont {
    width: 90%;
    height: 90%;
    border: 1px solid transparent;
    box-sizing: border-box;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
}

@media (max-width: 750px) { 
    .home-left-text{
        max-width: 70vw;
        display: inline-block;
        text-align: center;
    }                 
    .home-left-text > h1 {
        margin-top: 30px;
        font-size: 6.5vw;
    }
    .home-left-text > h3 {
        font-size: 5vw;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
    }
    .home-first-img{
        display: none;
    }
    .break-free {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .break-free > h2 {
        font-size: 4.5vw;
    }
    .break-free > p {
        font-size: 4vw;
    }
    .global-companies > * {
        display: none;
    }
    .global-companies{
        padding-bottom: 0px;
    }
    .global-title > * {
        font-size: 5vw;
        text-align: center;
        color: white;
        margin: auto;
        line-height: 6vw;
    }
}