.home-header {
    display: flex;
}

.home-header > h1 {
    margin-left: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

#head-1 {
    transform: translateY(15%);
}

#home-link {
    color:black;
    text-decoration: none;
    // background-color: #21CE99;
    border-radius: 10px;
    padding: 5px;
}

.feather-img {
    max-height: 70px;
    transform: translateY(0%);
}

.feather-img:hover {
    background-color: whitesmoke;
}


#head-2 {
    transform: translateY(29%);
    font-size: 18px;
    color: black;
    text-decoration: line-through;
}

#head-3 {
    transform: translateY(29%);
    font-size: 17px;
    color: black;
    text-decoration: line-through;
}

#head-4 {
    max-width: 70px;
    transform: translateX(40%);
}

.header-session {
    display: flex;
    position: absolute;
    right: 50px;
    transform: translateY(-10%);
}

#sign-in-home {
    font-size: 18px;
    color: black;
    margin-right: 45px;
    text-decoration: none;
}

#sign-in-home:hover {
    color: darkslategray
}

#signup-home {
    transform: translateY(40%);
    font-size: 18px;
    color: black;
    text-align: right;
    text-decoration: none;
    background-color: #21CE99;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

#signup-home:hover {
    color: white;
    background-color:darkslategray;
}

.home-temp-img {
    margin-top: 5%;
    max-width: 600px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-first-img {
    margin-top: 9%;
    margin-bottom: 10%;
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.home-img {
    display: flex;
    background-color: #21CE99;
    padding-bottom: 20px;
    box-shadow:  inset 0 0 3px #000000;
}

.home-left-text {
    padding-left: 250px;
    padding-top: 50px;
    max-width: 450px;
}

.home-left-text > h1 {
    font-size: 60px;
}

.home-left-text > h3 {
    font-size: 29px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.body-sign-up {
    margin-top: 20px;
    background-color: darkslategrey;
    border: 1px solid black;
    color: white;
    width: 160px;
    height: 50px;
    font-size: 15px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-sign-up:hover {
    background-color: black;
}

#body-sign-up-link {
    color: white;
    text-decoration: none;
}

.break-free {
    padding-top: 40px;
    padding-bottom: 25px;
}

.break-free > * {
    text-align: center;
}

#com-disclosure {
    text-decoration: none;
    color: darkslategray;
}

#com-disclosure:hover{
    text-decoration: none;
    color: gray;
}

.global-section {
    box-shadow:  inset 0 0 3px #000000;
    background-color: black;
}

.global-companies > * {
    width: 200px;
    color: white;
}

.global-companies {
    padding-top: 50px;
    display: flex;
    padding-left: 18%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.global-title > * {
    font-size: 40px;
    text-align: center;
    color: white;
    margin: auto;
}

.global-title {
    padding-top: 30px;
    margin-bottom: 60px;
    line-height: 50px;
}

.marquee {
  background-color: white;
  background-image: url(https://cdn.robinhood.com/assets/robinhood/brand_uk_2/ac5925bd9898526358ad0a45791d1de6-3x.png);
  background-size: 1900px;
  width: 100%;
  height: 100px;
  animation: marquee 50s infinite linear;
  margin: auto;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 1890px;
  }

  100% {
    background-position: 0px;
  }
}
