.home-header {
    display: flex;
}

.home-header > h1 {
    margin-left: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

#head-1 {
    transform: translateY(15%);
}

#home-link {
    color:black;
    text-decoration: none;
    // background-color: #21CE99;
    border-radius: 10px;
    padding: 5px;
}

.feather-img {
    max-height: 70px;
    transform: translateY(0%);
}

.feather-img:hover {
    background-color: whitesmoke;
}


#head-2 {
    transform: translateY(29%);
    font-size: 18px;
    color: black;
    text-decoration: line-through;
}



.header-session {
    display: flex;
    position: absolute;
    right: 50px;
    transform: translateY(-10%);
}

#sign-in-home {
    font-size: 18px;
    color: black;
    margin-right: 45px;
    text-decoration: none;
}

#sign-in-home:hover {
    color: darkslategray
}

#signup-home {
    transform: translateY(40%);
    font-size: 18px;
    color: black;
    text-align: right;
    text-decoration: none;
    background-color: #21CE99;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

#signup-home:hover {
    color: white;
    background-color:darkslategray;
}

.home-temp-img {
    margin-top: 5%;
    max-width: 600px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-first-img {
    margin-top: 9%;
    margin-bottom: 10%;
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.home-img {
    display: flex;
    background-color: #21CE99;
    padding-bottom: 20px;
    box-shadow:  inset 0 0 3px #000000;
}

.home-left-text {
    padding-left: 250px;
    padding-top: 50px;
    max-width: 450px;
}

.home-left-text > h1 {
    font-size: 60px;
}

.home-left-text > h3 {
    font-size: 29px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.body-sign-up {
    margin-top: 20px;
    background-color: darkslategrey;
    border: 1px solid black;
    color: white;
    width: 160px;
    height: 50px;
    font-size: 15px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-sign-up:hover {
    background-color: black;
}

#body-sign-up-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.break-free {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
}

.break-free > h2 {
    font-size: 2em;
}



.disclosure-button {
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: darkslategray;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
}

.disclosure-button:hover{
    color: rgb(39, 72, 42);
    cursor: pointer;
}

.modal-disclosure{
    position: absolute;
    width: 600px;
    height: 270px;
    top: 30%;
    left: 50%;
    margin-left: -300px;
    margin-top: -125px;
    border-radius: 2px;
    z-index: 10;
    background-color: white;
    max-width: 65%;
    transition: 500ms ease-in-out;
}

.modal-title{
    padding-left: 75px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.close-modal{
    cursor: pointer;
    border: none;
    margin-left: 500px;
    padding-top: 30px;
    font-size: 1.7rem;
    font-weight: bold;
}

.modal-body > p{
    text-align: left;
    margin-top: 22px;
    padding-left: 75px;
    padding-right: 70px;
    font-size: 0.9rem;
    font-style: italic;
}

.global-section {
    box-shadow:  inset 0 0 3px #000000;
    background-color: black;
}

.global-companies > * {
    width: 27%;
    color: white;
    padding-left: 4.2%;
    font-size: 0.9rem;
}

.global-companies {
    display: flex;
    padding-top: 20px; 
    padding-bottom: 40px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2%;
}

.global-title > * {
    font-size: 40px;
    text-align: center;
    color: white;
    margin: auto;
}

.global-title {
    padding-top: 50px;
    line-height: 50px;
}

.marquee {
  background-color: white;
  background-image: url(https://cdn.robinhood.com/assets/robinhood/brand_uk_2/ac5925bd9898526358ad0a45791d1de6-3x.png);
  background-size: 1900px;
  width: 100%;
  height: 100px;
  animation: marquee 50s infinite linear;
  margin: auto;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 1890px;
  }

  100% {
    background-position: 0px;
  }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    margin-top: 25px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#foot-1{
    margin-left: 25px;
    max-width: 85px;
}

#foot-2{
    max-width: 50px;
    transform: translateY(-14px);
    border-radius: 5px;
    background-color: white;
    padding: 2px
}
