.session-form {
    display: flex
}

.login-left {
    max-width: 50%;
    object-fit: cover;
}

.login-right {
    width: 400px;
    top: 40px;
    left: 20px;
}

.login-right > * {
    margin: 15px;
    margin-top: 8%;
    margin-left: 12%;
}

.login-right > h2 {
    margin-top: 35%;
    font-size: 25px;
}

.login-right > form > label > p {
    color: #21CE99;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-right > form > label > input {
    margin-top: 7px;
    margin-bottom: 7px;
}

.login-right > form > label {
    font-size: 15px; 
}

.sign-in {
    position: absolute;
    /* top: 65%; */
    left: inherit;
    background-color: #21CE99;
    color: white;
    width: 140px;
    height: 50px;
    font-size: 12px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-top: 80px; */
    cursor: pointer;
}

.login-right > form > label > input {
    height: 40px;
    width: 420px;
    background-color: #E8F0FE;
    color: black;
    border: 0px;
    border-radius: 4px;
    padding: 5px;
}

.login-right > button {
    color: black;
    background-color: #21CE99;
    border-radius: 4px;
    width: 140px;
    height: 50px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgb(118, 172, 172);
    cursor: pointer
}

.login-right > form > p {
    cursor: pointer;
}