.search-bar-container {
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 400px;
    // margin-top: 5px;
    margin-left: 20px;
}


.search-form {
    background-color: black;
    color:white;
    margin-left: 25%;
    margin-top: 17px;
}

.search-form:hover ul{
    display: block;
    color: white;
    background-color: black;
    box-shadow: 0 0 1px lightslategray;
}

.search-field {
    width: 30vw;
    font-size: 20px;
    background-color: #1b1b1d;
    color: white;
    border-radius: 5px;
}

.search-field:hover {
    box-shadow: 0 0 2px slategray;
    font-size: 20px;
    outline: none;
}

.search-field:focus + ul{
    display: block;
    color: white;
    background-color: black;
    font-size: 18px;
}

.suggestion-box {
    display: none;
    position: absolute;
    z-index: 1;
    transform: translateY(-15px);
    border-radius: 2px;
}

.suggestion-item {
    padding: 5px;
}

.suggestion-link {
    text-decoration: none;
    color:white;
}

.suggestion-link:hover {
    text-decoration: none;
    color: #21ce99;
    text-shadow: 0.2px 1px black;
}

