.stock-page {
    padding-left: 5%;
    display: flex;
    background-color: #1b1b1d;
}

.stock-page-price{
    color: white;
}


.holding-data {
    border: 1px solid black;
    border-radius: 3px;
    width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
}

.stock-title {
    display: flex;
    margin-bottom: -35px;
    margin-top: -15px;
    color: white;
}

.stock-title > * {
    padding-right: 10px;
    color: white;
}

.ticker-text {
    display: flex;
    color: white;
}

.ticker-text > * {
    font-size: 18px;
    padding-right: 50px;
}


.ticker-text > div > h6 {
    margin-bottom: 8px;
    margin-top: 25px;
    color: white;
}

.ticker-text > div > h5 {
    margin-top: 10px;
    padding-bottom: 15px;
    color: white
}

.ticker-about {
    margin-right: 14%;
    color: white;
    width: 60%;
}

.ticker-about > h4 {
    margin-bottom: 8px;
    color: white;
}

.ticker-about > p {
    margin-bottom: 5px;
    margin-top: 5px;
    color: white
}



.holdings-bar{
    right: 10%;
    margin-top: 7%;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    min-width: 250px;
    height: 500px;
    position: fixed;
}

.holdings-bar{
    text-align: center;
}

.holdings-bar > h4{
    color: white;
}

.change-counter{
    margin-bottom: 40px;
    color: white
}

.line-chart {
    border-top: 1px dotted black;
}

.news-header-indiv{
    margin-left: 2%;
    color: white;
}

.news-div-indiv{
    margin-left: 2%;
    margin-bottom: 2%;
    width: 60%;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #1b1b1d;
}

.news-div-indiv:hover{
    background-color: rgb(12, 12, 12);
}

.period{
    color:white;
    background-color: white;
    border: none;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #1b1b1d;
    cursor: pointer;
}

.periods{
    margin-bottom: 50px;
}

.activeRed, .activeGreen{
    margin-left: 10px;
    margin-right: 10px;
    color: darkblue;
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.buy {
    margin-top: 40px;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 15%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid lightgrey;
    white-space: nowrap;
}

.sell {
    margin-top: 40px;
    font-size: 17px;
    margin-left: auto;
    margin-right: 15%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid lightgrey;

    white-space: nowrap;
}

.selected{
    color: #21ce99;
    border-bottom: 1px solid #21ce99;
}

.holdings-bar:first-child{
    border-bottom: 1px solid lightgrey;
}

.flex-transaction{
    display: flex;
    text-align: left;
}

.shares-text{
    color: white;
    margin-top: 19%;
    width: 120px;
    margin-left: 20px;
}

.market-text{
    color: white;
    margin-top: 14%;
    width: 120px;
    margin-left: 20px;
}

.cost-text{
    color: white;
    margin-top: 14%;
    width: 120px;
    margin-left: 20px;
}

.shares-input{
    color: white;
    margin-top: 14%;
    margin-left: auto;
    margin-right: 12%;
    height: 25px;
    width: 70px;
}

.mkt-price-text{
    color: white;
    margin-top: 14%;
    margin-left: auto;
    margin-right: 14%;
}

button:focus{
    outline:0;
}