.stock-page {
    margin-left: 5%;
    display: flex;
}


.holding-data {
    border: 1px solid black;
    border-radius: 3px;
    width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
}

.stock-title {
    display: flex;
    margin-bottom: -35px;
    margin-top: -15px;
}

.stock-title > * {
    padding-right: 10px;
}

.ticker-text {
    display: flex;
}

.ticker-text > * {
    font-size: 18px;
    padding-right: 50px;
}


.ticker-text > div > h6 {
    margin-bottom: 8px;
    margin-top: 25px;
}

.ticker-text > div > h5 {
    margin-top: 10px;
    padding-bottom: 15px;
}

.ticker-about {
    margin-right: 14%;
}

.ticker-about > h4 {
    margin-bottom: 8px;
}

.ticker-about > p {
    margin-bottom: 5px;
    margin-top: 5px;
}



.holdings-bar{
    margin-right: 15%;
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 3px;
    width: 500px;
    height: 500px;
}

.holdings-bar{
    text-align: center;
}

.change-counter{
    margin-bottom: 40px;
}

.line-chart {
    border-top: 1px dotted black;
}

.news-header-indiv{
    margin-left: 5%;
}

.news-div-indiv{
    margin-left: 5%;
    margin-bottom: 2%;
    width: 80%;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.news-div-indiv:hover{
    background-color: lightgray;
}

.period{
    color:black;
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 5px
}

.periods{
    margin-bottom: 50px;
}

.activeRed, .activeGreen{
    color: darkblue;
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;
}
